:root {
  --primary-color: rgb(76, 155, 111);
  --secondary-color: rgb(238, 244, 164, 0.88);
  --alt-secondary-color: rgb(95, 45, 17);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Comic Neue", cursive;
  --secondary-font-family: "Montserrat", sans-serif;
  --primary-link-color: #f6ceb8;
  --hero-bg-color: rgb(66, 154, 104, 0.38);
}

@media (max-width: 800px) {
  body {
    margin: 30px auto;
  }
  h1 {
    font-size: 32px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  .hero {
    height: 150px;
    padding: 75px 100px;
  }
  img {
    max-width: 50%;
    max-height: 50%;
  }
}
body {
  margin: 60px auto;
}
.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
  margin: 0;
  font-family: var(--primary-font-family);
  width: 100%;
  padding: 100px 0;
}
.herologo {
  width: 400px;
  height: 400px;
}
.hero-works {
  text-align: center;
  font-family: var(--primary-font-family);
  background-color: var(--hero-bg-color);
  color: rgb(95, 45, 17);
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
}

h2 {
  font-size: 48px;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: var(--alt-econdary-color);
  font-family: var(--secondary-font-family);
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--secondary-font-family);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-link-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: inline-block;
}
.primary-link:hover {
  color: var(--primary-link);
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
button {
  background-color: var(--primary-link-color);
  color: white;
  border-color: var(--primary-link-color);
  border-radius: 5px;
  text-align: center;
  font-family: var(--primary-font-family);
}
button:hover {
  color: var(--primary-color);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.work-inquiry {
  background: var(--secondary-color);
  text-align: center;
  font-family: var(--secondary-font-family);
}
.inquiry {
  background: var(--secondary-color);
}
.workinq {
  text-align: center;
  font-family: var(--primary-font-family);
  color: var(--primary-color);
}
.end-cap {
  background-color: #f5f2fe;
  text-align: center;
  font-size: 10px;
  color: var(--primary-link);
  font-family: var(--secondary-font-family);
}
footer {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 10px;
}
.containertwo {
  background-color: var(--hero-bg-color);
}
.fa-brands {
  font-size: 64px;
}
.greet {
  color: rgb(95, 45, 17);
  font-family: var(--secondary-font-family);
}
.projects {
  color: rgb(95, 45, 17);
  font-family: var(--primary-font-family);
}
.email-contact {
  color: var(--alt-secondary-color);
  font-family: var(--secondary-font-family);
}
.contactque-pic {
  text-align: center;
  margin-top: 35px;
}
